@use "../core/mixins" as m;

[data-theme="dark"] {
  @include m.export-css-vars((
    bg:        #0f172a,
    surface:   #0e1626,
    text:      #e5e7eb,
    muted:     #94a3b8,
    border:    #1f2937,

    brand:     #34d399,
    security:  #60a5fa,
    savings:   #10b981,

    success:   #22c55e,
    warning:   #fbbf24,
    danger:    #ef4444,

    radius-sm: 8px,
    radius-md: 12px,
    radius-lg: 16px,

    shadow-1:  0 4px 10px rgba(0,0,0,.10),
    shadow-2:  0 10px 20px rgba(0,0,0,.18), 0 6px 6px rgba(0,0,0,.12),
  ));
}